In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
y = pd.read_parquet("/home/stefano/dev/active/spreads-arb/data/tick_quotes/okex/1INCH.parquet").set_index("timestamp")

In [3]:
y.resample("1s").mean()

                     ask_amount  ask_price  bid_price  bid_amount
timestamp
2023-04-10 00:00:00       184.0     0.5333     0.5332      1070.5
2023-04-10 00:00:01       184.0     0.5333     0.5332      2238.5
2023-04-10 00:00:02         NaN        NaN        NaN         NaN
2023-04-10 00:00:03       184.0     0.5333     0.5332      2333.5
2023-04-10 00:00:04       514.0     0.5333     0.5332      3157.8
...                         ...        ...        ...         ...
2023-05-09 23:59:52       664.0     0.4155     0.4154       836.0
2023-05-09 23:59:53       364.0     0.4155     0.4154       831.0
2023-05-09 23:59:54         NaN        NaN        NaN         NaN
2023-05-09 23:59:55        64.0     0.4155     0.4154       831.0
2023-05-09 23:59:56        64.0     0.4155     0.4154      1731.0

[2591997 rows x 4 columns]

In [4]:
y.resample("1s").mean().interpolate("time")

                     ask_amount  ask_price  bid_price  bid_amount
timestamp
2023-04-10 00:00:00       184.0     0.5333     0.5332      1070.5
2023-04-10 00:00:01       184.0     0.5333     0.5332      2238.5
2023-04-10 00:00:02       184.0     0.5333     0.5332      2286.0
2023-04-10 00:00:03       184.0     0.5333     0.5332      2333.5
2023-04-10 00:00:04       514.0     0.5333     0.5332      3157.8
...                         ...        ...        ...         ...
2023-05-09 23:59:52       664.0     0.4155     0.4154       836.0
2023-05-09 23:59:53       364.0     0.4155     0.4154       831.0
2023-05-09 23:59:54       214.0     0.4155     0.4154       831.0
2023-05-09 23:59:55        64.0     0.4155     0.4154       831.0
2023-05-09 23:59:56        64.0     0.4155     0.4154      1731.0

[2591997 rows x 4 columns]

In [ ]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

# Assuming you have a pandas Series named y_real

# Create a copy of y_real with some NaN values
y_real = y.iloc[:10000].ask_price
y_agg = y.iloc[:10000].ask_price.resample("3s").transform("mean").interpolate("nearest")
y_agg_smoothed = y.iloc[:10000].ask_price.resample("3s").agg("mean").interpolate("nearest")
y_dummy = y_real.copy()
y_dummy[np.random.rand(*y_dummy.shape) < 0.5] = np.nan

# Create the Plotly figure
fig = go.Figure()

# Plot the interpolated data
fig.add_trace(go.Scatter(x=y_dummy.index, y=y_dummy, mode="lines", name="y_dummy"))
fig.add_trace(go.Scatter(x=y_agg.index, y=y_agg, mode="lines", name="y_agg"))
fig.add_trace(go.Scatter(x=y_agg_smoothed.index, y=y_agg_smoothed, mode="lines", name="y_agg_smoothed"))
fig.add_trace(go.Scatter(x=y_real.index, y=y_real, mode="lines", name="y_real"))

# Set axes labels and title
fig.update_layout(
    height=800,
    width=1800,
    hovermode="x unified",
    hoverlabel={"namelength": -1},
)

# Show the plot
fig.show()

In [38]:
y_new = y.ask_price.resample("3s").agg("mean").interpolate("nearest")

In [39]:
(y_new - y_new.shift(1)).describe()

count    8.639980e+05
mean    -1.363429e-07
std      7.428812e-05
min     -3.039154e-03
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.320876e-03
Name: ask_price, dtype: float64

In [ ]:
y_agg - y_real

In [18]:
y_agg

timestamp
2023-04-10 00:00:00     184.0
2023-04-10 00:00:01     184.0
2023-04-10 00:00:02       NaN
2023-04-10 00:00:03     184.0
2023-04-10 00:00:04     514.0
                        ...
2023-04-10 01:08:55    2814.0
2023-04-10 01:08:56       NaN
2023-04-10 01:08:57       NaN
2023-04-10 01:08:58       NaN
2023-04-10 01:08:59    1946.0
Freq: S, Name: ask_amount, Length: 4140, dtype: float64

In [31]:
y_real.resample("1s").transform("mean")

timestamp
2023-04-10 00:00:00.306     184.0
2023-04-10 00:00:00.336     184.0
2023-04-10 00:00:00.396     184.0
2023-04-10 00:00:00.596     184.0
2023-04-10 00:00:01.946     184.0
                            ...
2023-04-10 01:08:54.551    3621.0
2023-04-10 01:08:54.561    3621.0
2023-04-10 01:08:55.071    2814.0
2023-04-10 01:08:55.081    2814.0
2023-04-10 01:08:59.111    1946.0
Name: ask_amount, Length: 10000, dtype: float64

In [16]:
y_unrounded

                     ask_amount  ask_price  bid_price  bid_amount
timestamp
2023-04-10 00:00:00       184.0     0.5333     0.5332      1070.5
2023-04-10 00:00:01       184.0     0.5333     0.5332      2238.5
2023-04-10 00:00:02         NaN        NaN        NaN         NaN
2023-04-10 00:00:03       184.0     0.5333     0.5332      2333.5
2023-04-10 00:00:04       514.0     0.5333     0.5332      3157.8
...                         ...        ...        ...         ...
2023-04-10 01:08:55      2814.0     0.5305     0.5304         3.0
2023-04-10 01:08:56         NaN        NaN        NaN         NaN
2023-04-10 01:08:57         NaN        NaN        NaN         NaN
2023-04-10 01:08:58         NaN        NaN        NaN         NaN
2023-04-10 01:08:59      1946.0     0.5305     0.5304         3.0

[4140 rows x 4 columns]

In [32]:
y_dummy = y.iloc[:500].ask_amount
time = y_dummy.interpolate(method="time")
nearest = y_dummy.interpolate(method="nearest")


(y_dummy == time).mean()

1.0

In [33]:
(y_dummy == nearest).mean()

1.0

In [ ]:
help(pd.DataFrame.interpolate)

Help on function interpolate in module pandas.core.frame:

interpolate(self: 'DataFrame', method: 'str' = 'linear', axis: 'Axis' = 0, limit: 'int | None' = None, inplace: 'bool' = False, limit_direction: 'str | None' = None, limit_area: 'str | None' = None, downcast: 'str | None' = None, **kwargs) -> 'DataFrame | None'
    Fill NaN values using an interpolation method.

    Please note that only ``method='linear'`` is supported for
    DataFrame/Series with a MultiIndex.

    Parameters
    ----------
    method : str, default 'linear'
        Interpolation technique to use. One of:

        * 'linear': Ignore the index and treat the values as equally
          spaced. This is the only method supported on MultiIndexes.
        * 'time': Works on daily and higher resolution data to interpolate
          given length of interval.
        * 'index', 'values': use the actual numerical values of the index.
        * 'pad': Fill in NaNs using existing values.
        * 'nearest', 'zero', 'slinear', 'quadratic', 'cubic', 'spline',
          'barycentric', 'polynomial': Passed to
          `scipy.interpolate.interp1d`. These methods use the numerical
          values of the index.  Both 'polynomial' and 'spline' require that
          you also specify an `order` (int), e.g.
          ``df.interpolate(method='polynomial', order=5)``.
        * 'krogh', 'piecewise_polynomial', 'spline', 'pchip', 'akima',
          'cubicspline': Wrappers around the SciPy interpolation methods of
          similar names. See `Notes`.
        * 'from_derivatives': Refers to
          `scipy.interpolate.BPoly.from_derivatives` which
          replaces 'piecewise_polynomial' interpolation method in
          scipy 0.18.

    axis : {{0 or 'index', 1 or 'columns', None}}, default None
        Axis to interpolate along.
    limit : int, optional
        Maximum number of consecutive NaNs to fill. Must be greater than
        0.
    inplace : bool, default False
        Update the data in place if possible.
    limit_direction : {{'forward', 'backward', 'both'}}, Optional
        Consecutive NaNs will be filled in this direction.

        If limit is specified:
            * If 'method' is 'pad' or 'ffill', 'limit_direction' must be 'forward'.
            * If 'method' is 'backfill' or 'bfill', 'limit_direction' must be
              'backwards'.

        If 'limit' is not specified:
            * If 'method' is 'backfill' or 'bfill', the default is 'backward'
            * else the default is 'forward'

        .. versionchanged:: 1.1.0
            raises ValueError if `limit_direction` is 'forward' or 'both' and
                method is 'backfill' or 'bfill'.
            raises ValueError if `limit_direction` is 'backward' or 'both' and
                method is 'pad' or 'ffill'.

    limit_area : {{`None`, 'inside', 'outside'}}, default None
        If limit is specified, consecutive NaNs will be filled with this
        restriction.

        * ``None``: No fill restriction.
        * 'inside': Only fill NaNs surrounded by valid values
          (interpolate).
        * 'outside': Only fill NaNs outside valid values (extrapolate).

    downcast : optional, 'infer' or None, defaults to None
        Downcast dtypes if possible.
    ``**kwargs`` : optional
        Keyword arguments to pass on to the interpolating function.

    Returns
    -------
    Series or DataFrame or None
        Returns the same object type as the caller, interpolated at
        some or all ``NaN`` values or None if ``inplace=True``.

    See Also
    --------
    fillna : Fill missing values using different methods.
    scipy.interpolate.Akima1DInterpolator : Piecewise cubic polynomials
        (Akima interpolator).
    scipy.interpolate.BPoly.from_derivatives : Piecewise polynomial in the
        Bernstein basis.
    scipy.interpolate.interp1d : Interpolate a 1-D function.
    scipy.interpolate.KroghInterpolator : Interpolate polynomial (Krogh
        interpolator).
    scipy.interpolate.PchipInterpolator : PCHIP 1-d monotonic cubic
        interpolation.
    scipy.interpolate.CubicSpline : Cubic spline data interpolator.

    Notes
    -----
    The 'krogh', 'piecewise_polynomial', 'spline', 'pchip' and 'akima'
    methods are wrappers around the respective SciPy implementations of
    similar names. These use the actual numerical values of the index.
    For more information on their behavior, see the
    `SciPy documentation
    <https://docs.scipy.org/doc/scipy/reference/interpolate.html#univariate-interpolation>`__
    and `SciPy tutorial
    <https://docs.scipy.org/doc/scipy/reference/tutorial/interpolate.html>`__.

    Examples
    --------
    Filling in ``NaN`` in a :class:`~pandas.Series` via linear
    interpolation.

    >>> s = pd.Series([0, 1, np.nan, 3])
    >>> s
    0    0.0
    1    1.0
    2    NaN
    3    3.0
    dtype: float64
    >>> s.interpolate()
    0    0.0
    1    1.0
    2    2.0
    3    3.0
    dtype: float64

    Filling in ``NaN`` in a Series by padding, but filling at most two
    consecutive ``NaN`` at a time.

    >>> s = pd.Series([np.nan, "single_one", np.nan,
    ...                "fill_two_more", np.nan, np.nan, np.nan,
    ...                4.71, np.nan])
    >>> s
    0              NaN
    1       single_one
    2              NaN
    3    fill_two_more
    4              NaN
    5              NaN
    6              NaN
    7             4.71
    8              NaN
    dtype: object
    >>> s.interpolate(method='pad', limit=2)
    0              NaN
    1       single_one
    2       single_one
    3    fill_two_more
    4    fill_two_more
    5    fill_two_more
    6              NaN
    7             4.71
    8             4.71
    dtype: object

    Filling in ``NaN`` in a Series via polynomial interpolation or splines:
    Both 'polynomial' and 'spline' methods require that you also specify
    an ``order`` (int).

    >>> s = pd.Series([0, 2, np.nan, 8])
    >>> s.interpolate(method='polynomial', order=2)
    0    0.000000
    1    2.000000
    2    4.666667
    3    8.000000
    dtype: float64

    Fill the DataFrame forward (that is, going down) along each column
    using linear interpolation.

    Note how the last entry in column 'a' is interpolated differently,
    because there is no entry after it to use for interpolation.
    Note how the first entry in column 'b' remains ``NaN``, because there
    is no entry before it to use for interpolation.

    >>> df = pd.DataFrame([(0.0, np.nan, -1.0, 1.0),
    ...                    (np.nan, 2.0, np.nan, np.nan),
    ...                    (2.0, 3.0, np.nan, 9.0),
    ...                    (np.nan, 4.0, -4.0, 16.0)],
    ...                   columns=list('abcd'))
    >>> df
         a    b    c     d
    0  0.0  NaN -1.0   1.0
    1  NaN  2.0  NaN   NaN
    2  2.0  3.0  NaN   9.0
    3  NaN  4.0 -4.0  16.0
    >>> df.interpolate(method='linear', limit_direction='forward', axis=0)
         a    b    c     d
    0  0.0  NaN -1.0   1.0
    1  1.0  2.0 -2.0   5.0
    2  2.0  3.0 -3.0   9.0
    3  2.0  4.0 -4.0  16.0

    Using polynomial interpolation.

    >>> df['d'].interpolate(method='polynomial', order=2)
    0     1.0
    1     4.0
    2     9.0
    3    16.0
    Name: d, dtype: float64